* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-img img {
  width: 20%;
  height: 10%;
  text-align: center;
}
ul {
  list-style: none;
  display: inline;
}
/*header*/
header {
  height: 25vh;
  background-image: url("../asset/taisiia-stupak-KP97dx0GOv8-unsplash.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  padding: 30px 100px;
  display: flex;
  justify-content: center;
}
nav ul {
  display: flex;
  font-size: 18px;
  gap: 30px;
}
nav > ul > li :hover {
  background-color: white;
  color: black;
  text-transform: uppercase;
}

/*fin header*/

/*main*/
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
/*fin main*/
.seccion-1 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: #b98848;
}

.container {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: #b98848;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.card {
  background-color: #faebd7;
  width: 350px;
  height: 350px;
  margin: 8px;
}
.card:hover {
  width: 500px;
  height: 400px;
  display: inline-block;
  border: solid rgb(133, 80, 10);
}
.imagen-card {
  text-align: center;
}
h4 {
  text-align: center;
}
.formulario {
  width: 300px;
  padding: 16px;
  margin: auto;
  border: 1px solid;
}
.formulario label {
  width: 70px;
  display: inline-block;
}
.formulario input[type="text"],
.form[type="email"] {
  width: 180px;
  padding: 3px 10px;
  border: 1px solid gray;
  background-color: beige;
  display: inline-block;
  margin: 5px 0;
}
.text-area {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  resize: none;
}
.formulario input[type="submit"]:hover {
  cursor: pointer;
  background-color: gray;
}
.formulario input[type="reset"]:hover {
  cursor: pointer;
  background-color: gray;
}

.seccion-2 p:first-of-type {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.footer {
  background-color: #e0b67d;
  width: 100%;
  height: 20vh;
  position: fixed;
  bottom: 0;
}

.footer.div-footer-1 {
  display: inline;
  position: relative;
  right: -22px;
}
.footer.div-footer-2 {
  display: inline;
  position: relative;
  left: 368px;
}

.item-footer {
  margin: 10px;
  font-size: 20px;
}
